.draggable {
  cursor: move;
  position: absolute;
  z-index: 1000;
}

.dragging {
  z-index: 1001;
}

#drop-canvas {
  position: relative;
  top: 100px;
  left: 100px;
}

#select-box {
  position: fixed;
  width: 25%;
  right: 8%;
  box-shadow: 0px 2px 8px gray;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(200, 69, 171);
}
